  <div class="contenido_total">
    <div class="titulo_practica">
      <h1 align="center">
        <font color="blue"><%=title%></font>

      </h1>
      <hr>
    </div>
    <div class="contenido">
      <table class="center" id="input">
        <tr><th>Escriba aquí una entrada CSV o bien</th></tr>
        <tr><th>Arrastre un fichero CSV hasta la zona de entrada</th></tr>
        <tr>
          <th>
            <textarea class = "drop_zone" autofocus="" cols = "80" rows = "5" id="original"></textarea>
          </th>
          <th>
            <button type="button" id="parse"> Analizar!</button>
            <br>
            <button type="button" id="Guardar"> Guardar </button>
          </th>
        </tr>
        <tr>
        </tr>
        <tr>
          <th>
            <div class="example">
              Click para cargar ejemplos:
              <button class ="example" type="button">input</button>
              <button class ="example" type="button">input2</button>
              <button class ="example" type="button">input3</button>
            </div>
          </th>
        </tr>
        <tr>
          <th>
              Cargar archivo:
              <input type="file" class="inputfile" />
          </th>
        </tr>
      </table>
      <br>
      <br>
      
      <!-- div oculto que se mostrará al pulsar sobre el boton guardar -->
      <div id="div_oculto">
        
        <form id="formulario_nomColeccion">
          <h1>Introduzca el nombre de la colección a guardar:</h1>
          <input type="text" id="DB" name="DB">
          <button class ="example" type="button" id="Boton_enviar">Enviar</button>        
          
        </form>
      </div>

      <div class="output" id="finaltable">
      </div>
    </div>
  </div>
